{% extends 'base_layout.html' %}

{% block content %}

<ul class="nav">
    <li class="nav-button"><a href="{% url 'lectures:list' %}">Back</a></li>
    <li class="nav-button"><form id="deleteLectureForm" action="{% url 'lectures:delete' lecture_id=lecture.id %}" method="POST">
        {% csrf_token %}
        <button id="deleteLectureButton" type="submit">delete</button>
    </form></li>
    
</ul>



<h1 class="center">{{lecture.title}}</h1>

<div class="center">
    <p>{{lecture.datetime}}</p>
    <p>{{lecture.module.title}}</p>
</div>

<div class="center" id="qr-code">
    {% include 'lectures/lecture_qr_code.html' %}
</div>

<script>
    setInterval(function(){
        $.ajax({
            url: "{% url 'lectures:qr-code' lecture_id=lecture.id %}",
            success: function(data) {
                $("#qr-code").html(data);
            }
        });
    }, 500);
</script>

{% endblock %}