{% extends 'base_layout.html' %}

{% block content %}

<ul>
    <li class="nav-button"><a href="{% url 'lectures:create' %}">Create Lecture</a></li>
    <li class="nav-button"><a href="{% url 'lectures:modules_list' %}">Show Modules</a></li>
    <li class="nav-button"><a href="{% url 'lectures:students_list' %}">Show Students</a></li>
</ul>

<h1>this is the list of lectures</h1>

<div class="list">
    {% for lecture in lectures %}
        <div class="item">
            <h2><a href="{% url 'lectures:details' lecture_id=lecture.id %}">{{lecture.title}}</a></h2>
        </div>
    {% endfor %}
</div>

{% endblock %}