{% extends 'base_layout.html' %}

{% block content %}

<form id="signout-form" action="{% url 'login:logout' %}" method="POST">
    {% csrf_token %}
    <button id="signout-button" type="submit"> < sign out</button>
</form>

<ul class="nav">
    <li class="nav-button"><a href="{% url 'lectures:create' %}">+ Create Lecture</a></li>
    <li class="nav-button"><a href="{% url 'lectures:modules_list' %}">Show Modules</a></li>
</ul>

<h1>Lecture list</h1>

<div class="list">
    {% for lecture in lectures %}
        <div class="item">
            <h2><a href="{% url 'lectures:details' lecture_id=lecture.id %}">{{lecture.title}}</a></h2>
            <p>{{lecture.module.title}}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}