{% extends 'base_layout.html' %}

{% block content %}

<form class="nav-button" action="{% url 'lectures:list' %}" method="POST">
    {% csrf_token %}
    <button type="submit">back</button>
</form>
<h1>module details</h1>

<p>{{module.id}}</p>
<p>{{module.title}}</p>

<div class="list">
    {% for student in students %}
        <div class="item">
            <h2><a href="{% url 'lectures:student_details' student_id=student.id %}">{{student.firstName}} {{student.lastName}}</a></h2>
        </div>
    {% endfor %}
</div>

{% endblock %}