{% extends 'base_layout.html' %}

{% block content %}

<ul>
    <li class="nav-button"><a href="{% url 'modules:list' %}">Back</a></li>
</ul>
<h1>student details</h1>

<p>{{student.id}}</p>
<p>{{student.firstName}}</p>
<p>{{student.lastName}}</p>
<p>{{student.studentId}}</p>

<h2>I have this student for:</h2>

{% for module in modules %}
    <div class="item">
        <h2><a href="{% url 'lectures:module_details' module_id=module.id %}">{{module.title}}</a></h2>
    </div>
{% endfor %}

{% endblock %}