{% extends 'base_layout.html' %}

{% block content %}

<form class="back-button" action="{% url 'lectures:list' %}", method="POST">
    {% csrf_token %}
    <button type="submit">back</button>
</form>

<h1>this is the list of students</h1>

<div class="list">
    {% for student in students %}
        <div class="item">
            <h2><a href="{% url 'lectures:student_details' student_id=student.id %}">{{student.firstName}} {{student.lastName}} </a></h2>
        </div>
    {% endfor %}
</div>

{% endblock %}